@import "@/assets/styles/common.scss";

.public-layout {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  .public-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 0 1.5rem;
    border-bottom: 1px solid $color_light_grey;
    position: fixed;
    width: calc(100vw - 3rem);
    z-index: 10;
    background-color: white;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      @include fwSemiBold;
      font-size: 1.5rem;

      @include Responsive(xs) {
        font-size: 1.2rem;
      }
      span {
        color: $color_primary1;
      }
    }

    .nav {
      display: flex;
      gap: 2rem;
      align-items: center;

      @include Responsive(md) {
        display: none;
      }

      .nav-link {
        display: flex;
        gap: 1.5rem;
        align-items: center;
      }

      .nav-action {
        .login-btn {
        }
      }
    }
  }

  .public-main {
    flex: 1;
    padding-bottom: 3rem;
    padding-top: 70px;
  }

  .public-footer {
    border-top: 1px solid $color_light_grey;
    .row-content {
      .container {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
        align-items: center;
        gap: 3rem;
        width: calc(100% - 3rem);

        @include Responsive(xs) {
          flex-direction: column;
        }

        .left {
          flex: 1;
          .logo {
            @include fwSemiBold;
            font-size: 2rem;

            @include Responsive(xs) {
              font-size: 1.5rem;
            }
            span {
              color: $color_primary1;
            }
          }

          p {
            color: $color_grey;
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .register-btn {
            background-color: $color_primary2;
            color: white;
            padding: 0.5rem 1rem;
            text-align: center;
            text-decoration: none;
            border-radius: 4px;
          }
        }
      }
    }

    .copyright {
      background-color: $color_primary1;
      color: white;
      text-align: center;
      padding: 0.5rem 2rem;
      font-size: 0.8rem;
    }
  }
}
